@model FCMAuction.Models.ItemBid

@{
    ViewBag.Title = "Create";
}

<h2>Your Bid for this item is:</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Bid</legend>

        <div class="editor-label" style="width : 250px">
            @*<div>
                <b>Your previous bids were: </b>@Html.Action("BidHistory", "Bids", new { id = @Model.Id })
            </div>*@
            <br/><b>Please bid higher than:       
            @Html.EditorFor(model => model.Bid, "{0:c}")</b>
            @Html.ValidationMessageFor(model => model.Bid)
        </div>

        <p>
            <input type="submit" value="Submit My Bid"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    
}
