@model FCMAuction.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Item</legend>

    <div style="float : left; padding-right : 10px">
        @{
            string imagePath = string.Format("~/Content/images/{0}", @Html.Raw(Html.DisplayFor(model => model.Image)));
        }
        <img src="@Url.Content(imagePath)" alt="Image" style="width: 400px; height: 400px;" />
    </div>

    <div class="display-label" style="font-weight : bold">
        @Html.DisplayFor(model => model.Name) <br /><br/>
    </div>

    <div class="display-label" style="font-weight : bold">
        @Html.DisplayNameFor(model => model.Description) 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label" style="font-weight : bold">
         @Html.DisplayNameFor(model => model.Image) 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label" style="font-weight : bold">
        @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label" style="font-weight : bold">
        Minimum Bid
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumBid)
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
